# --- base ---
streamlit
pandas
numpy
matplotlib
Pillow
requests

# --- YOLO ---
ultralytics

# CPU Torch (для Linux/Streamlit Cloud)
torch==2.3.1
torchvision==0.18.1

# OpenCV без GUI (очень важно!)
opencv-python-headless==4.10.0.84

