# --- базовое для приложения ---
streamlit>=1.37
pandas>=2.0
numpy>=1.25
matplotlib
Pillow>=10.0
requests>=2.31

# --- DL/YOLO ---
ultralytics>=8.2

# CPU-версии Torch (без CUDA; подходят для Streamlit Cloud/Linux)
torch==2.3.1
torchvision==0.18.1

# OpenCV без GUI (важно: headless!)
opencv-python-headless==4.10.0.84
